# pipreqs /path/to/project
pycaret==3.3.2
shap==0.44.1
ydata-profiling
umap-learn==0.5.6
fastapi==0.111.0
uvicorn==0.22.0
uvloop~=0.19.0
pydantic
agraffe~=0.7.0
Levenshtein==0.25.1
pyprobables~=0.5.7
fastavro==1.9.4
db-dtypes~=1.1.1
functions-framework~=3.3.0
google-cloud-storage==2.9.0
dataclasses_json==0.6.7
google-cloud-storage==2.9.0
google-cloud-firestore==2.11.1
google-cloud-pubsub==2.21.5
requests==2.31.0
starlette==0.37.2
python-dateutil~=2.8.2
cachetools~=5.3.0
google~=3.0.0
web3~=6.19.0
alchemy-sdk
dataclass_wizard==0.22.3
segment-analytics-python
python-graphql-client==0.4.3
